.footer {
  background-color: #3A4F63;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin:  2% 2% 2% 2%;
  min-width: 200px;
  text-align: center;
}

.footer-section h3 {
  color: white;
  margin-bottom: 10px;
  text-align: left;
  /*  */
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    color: white !important;
    cursor: default !important;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-section ul li {
  margin-bottom: 5px;
  text-align: left;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}
.footer-section li,.footer-section a {
   margin-top:5%;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}



/* Tablette */
@media (max-width: 1024px) {
  .footer-section {
    min-width: 40%; /* 2 colonnes */
  }

  .footer-section h3 {
    font-size: 2.5vw;
  }

  .footer-section ul li a {
    font-size: 2vw;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    min-width: 80%; /* pleine largeur */
    margin: 5% 0;
  }

  .footer-section h3 {
    font-size: 3.5vw;
    text-align: center;
  }

  .footer-section ul li a {
    font-size: 3vw;
    text-align: center;
  }
}

/* Très petit écran */
@media (max-width: 480px) {
  .footer-section {
    min-width: 100%;
    margin: 8px 0;
  }
  .footer-section h3 {
    font-size: 5vw;
  }
  .footer-section ul li a {
    font-size: 4vw;
  }
}
